name: amd64
on:
  push:
    branches:
      - master
jobs:
  checkfeatures:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
      - name: Set up Go latest
        uses: actions/setup-go@v4
      - name: Complete Go set up
        shell: bash
        run: |
          mkdir -p $(go env GOCACHE)
          mkdir -p $(go env GOMODCACHE)
          mkdir -p $(dirname $(go env GOENV))
          mkdir -p $(go env GOPATH)/bin
          echo $(go env GOPATH)/bin "is in" $PATH
      - name: Build
        run: go build ./...
      - name: Vet
        run: go vet ./...
      - name: Test
        run: go test -v ./...
      - name: Use
        shell: bash
        run: |
          go install github.com/iwdgo/processorfeatures/setprocessor@latest
          $(go env GOPATH)/bin/setprocessor
          export $(setprocessor)
          go env -w $(setprocessor)
          echo "result = " $(go env GOAMD64)
