name: amd64 windows
on: [push]

jobs:
  checkfeatures:
    runs-on: windows-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
      - name: Set up Go latest
        uses: actions/setup-go@v4
      - name: Complete Go set up
        shell: bash
        run: |
          mkdir -p $(go env GOCACHE)
          mkdir -p $(go env GOMODCACHE)
          mkdir -p $(dirname $(go env GOENV))
          mkdir -p $(go env GOPATH)/bin
          echo $(go env GOPATH)/bin "is in" $PATH
          LD_SHOW_AUXV=1 sleep 1 > loadauxv
      - name: Build
        run: go build ./...
      - name: Vet
        run: go vet ./...
      - name: Test
        run: go test -cover ./...
      - name: Use
        shell: bash
        run: |
          go install github.com/iwdgo/processorfeatures/setprocessor@latest
          $(go env GOPATH)/bin/setprocessor
          export $(setprocessor)
          go env -w $(setprocessor)
          echo "result = " $(go env GOAMD64)
