name: arm v5 v6 v7
on: [push]

jobs:
  checkfeatures:
    strategy:
      matrix:
        # Using QEMU names
        arm_v: [ 5, 6, 7 ]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3
      - name: Set up Go latest
        uses: actions/setup-go@v4
      - name: Run under QEMU
        shell: bash
        run: |
          # complete Go set up
          mkdir -p $(go env GOCACHE)
          mkdir -p $(go env GOMODCACHE)
          mkdir -p $(dirname $(go env GOENV))
          mkdir -p $(go env GOPATH)/bin
          echo $(go env GOPATH)/bin "is in" $PATH
          # load docker image with QEMU
          go install github.com/iwdgo/gotip-build/architecture@latest
          export GOARCH=arm
          export GOARM=${{ matrix.arm_v }}
          architecture
          docker exec -w /tmp xgolang mkdir -p $(go env GOCACHE)
          docker exec -w /tmp xgolang mkdir -p $(go env GOMODCACHE)
          docker exec -w /tmp xgolang mkdir -p $(dirname $(go env GOENV))
          docker exec -w /tmp xgolang mkdir -p $(go env GOPATH)/bin
          docker exec -w /tmp xgolang echo $PATH
          docker exec xgolang go version
          docker exec xgolang go env
          docker exec xgolang go install github.com/iwdgo/processorfeatures/setprocessor@latest
          # Processor features from OS
          docker exec xgolang arch
          docker exec xgolang cat /proc/cpuinfo
          # Test module on image
          docker exec xgolang mkdir -p /tmp/processorfeatures/setprocessor
          docker cp ./. xgolang:/tmp/processorfeatures
          docker exec -w /tmp/processorfeatures/getauxval xgolang go run main.go
          docker exec -w /tmp/processorfeatures/setprocessor xgolang go run main.go
          docker exec -w /tmp/processorfeatures xgolang go test -v ./...
          # Set processor
          docker exec xgolang cp /go/bin/setprocessor /home/runner/go/bin/
          docker exec -w /go xgolang ./bin/setprocessor
          docker exec -w /go xgolang echo $GOARCH $GOARM
          docker exec -w /go xgolang go env -w GOARCH=$GOARCH
          docker exec -w /go xgolang go env -w GOARM=$GOARM
          # Results
          docker exec xgolang go env GOARCH GOARM
